.apps {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
}

.desktop-app {
    width: 150px;
    height: 180px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;

    .desktop-image-wrapper img {
        width: 100%;
        -webkit-user-drag: none;
    }

    .desktop-app-name {
        text-align: center;
        color: white;
        -webkit-text-stroke: 0.5px black;
        user-select: none;
        font-size: 1.8rem;
    }

    &:hover {
        border-color: #ffffff87;
        background-color: #ffffff5d;
    }
}