.program-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .program-outliner {
        width: 60%;
        height: 60%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr 25fr;
        background-color: $window-color;
        border: $window-border;
        border-radius: 5px;
        flex-direction: column;

        .top-components {
            width: calc(100% - 30px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 10px;

            .left {
                display: flex;
                justify-content: left;
            }

            .middle {
                display: flex;
                justify-content: center;
            }

            .right {
                display: flex;
                justify-content: right;
                margin-top: -2px;

                .close-program-btn-wrapper .close-program {
                    background-color: $close-window-button;
                    border: none;
                    cursor: pointer;
                    padding: 5px 25px;
                }
            }
        }

        .program {
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border: $window-border;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            .body {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                display: grid;
            }
        }
    }
}